form {
    // border: 1px solid $color__background-hr;
    width: 100%;
    min-width: 40rem;
    max-width: 50rem;
    margin: 5rem auto;
    position: relative;
    // height: 124rem;
     padding: 0 auto 20rem auto;


@media  only screen and(min-width:$query__largest) {
// height: 106rem;
}

    input {
        border-radius: 4px; 
       border-color: hsl(0,0%,80%);
       border-style: solid;
       border-width: 1px;
       min-height: 44px;
       min-width: 198px;
       max-width: 90%;
       max-width: 50%;
       width: 100%;
       margin: 1rem;

      &::placeholder {
           color: hsl(0,0%,50%);
          padding-left: 1rem;

       }
    }


.text-area {
    width: 50%;
    border-radius: 4px; 
    border-color: hsl(0,0%,80%);
    border-style: solid;
    border-width: 1px;
    margin: 1rem 1rem;
    min-height: 15rem;
    }
}



// select-box

.css-10nd86i {
   min-width: 198px;
    max-width: 50%;
    margin: auto;
    height: 44px;
}

.css-vj8t7z {
    height: 100%;
}

.css-1hwfws3 {
    height: 100%;
}


.dropzone-area {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}




.btn {
    background-color: $color__main;
    color: $color__text--white;
    border: none;
    padding: .15rem 1rem;
    margin: 2rem auto;
}


.upload-gig-photo {
    padding-bottom: 2rem;
    
    
    &__add-gig-text {
        position: relative;
    }
}