form {
    border: 1px solid green;
    width: 100%;
    min-width: 40rem;
    max-width: 50rem;
    margin: 5rem auto;
    position: relative;
    height: 124rem;
     padding: 0 auto 20rem auto;


@media  only screen and(min-width:$query__largest) {
height: 106rem;
}

    input {
        border-radius: 4px; 
       border-color: hsl(0,0%,80%);
       border-style: solid;
       border-width: 1px;
       min-height: 58px;
       min-width: 198px;
       max-width: 90%;
       width: 100%;
       margin: 1rem;

      &::placeholder {
           color: hsl(0,0%,50%);
          padding-left: 1rem;

       }
    }


.text-area {
    width: 90%;
    border-radius: 4px; 
    border-color: hsl(0,0%,80%);
    border-style: solid;
    border-width: 1px;
    margin: 1rem 1rem;
    min-height: 15rem;
    }

&.form--delete {
    border: none;
}

}

// select-box
.css-10nd86i {
max-height: 58px;
}
// .input select box
.css-vj8t7z {
    max-height: 58px;
    // height: 100%;
    // width: 90%;
    // margin: auto;
    }

    .css-1hwfws3 {
        max-height: 58px;
    }

.css-1g6gooi {
    border-color: red;
}

.dropzone-area {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50rem;
}




.btn {
    background-color: $color__main;
    color: $color__text--white;
    border: none;
    padding: .15rem 1rem;
    margin: 2rem auto;


    &--add-gig {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 1rem;
    }
}

