.site-content {
    margin-top: 120px;
    display: grid;
    grid-gap: 4rem;
    // grid-template-columns: 1fr minmax(min-content, 38rem) 1fr;
    grid-template-columns: 1fr [center-start]minmax(min-content, 1140px)[center-end notifications-start-2] 1fr [notifications-end-2];
    // border: 4px solid orange;

&__center {
    grid-column: center-start / center-end;
}


@media only screen and (max-width: $query__largest) {
    // grid-gap: 2rem;
    grid-gap: auto;
    // grid-template-columns: 1fr minmax(min-content, 38rem) 1fr;
    
    
    // grid-template-columns: 
    // minmax(min-content, 1440px);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5rem;
    
    
    
    
    // 1fr [center-start] 
    // [center-end] 
    // 1fr
     
    // grid-gap: 2rem;
    // grid-template-columns: 1fr min-content 1fr;
    // grid-template-columns: [center-start]minmax(min-content, 1140px)[center-end ]
    
     
    
}




}


.container {
    // max-width: 1140px;
    // grid-template-rows: 80vh min-content;
    // grid-template-rows: minmax(min-content, 50vh);
    display: grid;
grid-gap: 4rem;
grid-template-columns: [center-start] repeat(3,  [col-start] minmax(min-content, 38rem)[col-end]) ;

@media only screen and (max-width: $query__largest) {
    // grid-gap: 2rem;
    grid-template-columns: [center-start] repeat(3,  [col-start] minmax(min-content, 49rem)[col-end]) ;
    
}
@media only screen and (max-width: $query__larger) {
    // grid-gap: 2rem;
    grid-template-columns: [center-start] repeat(2,  [col-start] minmax(min-content, 110rem)[col-end]) ;
    
}


@media only screen and (max-width: $query__small) {
    // grid-gap: 2rem;
    grid-template-columns: 1fr ;
    // grid-template-columns: [center-start] repeat(1,  [col-start] minmax(min-content, 57rem)[col-end]) ;
    
}

}
// .container {
// display: grid;
// // max-width: 1140px;
// grid-gap: 4rem;
// // grid-template-rows: 80vh min-content;
// // grid-template-rows: minmax(min-content, 50vh);
// grid-template-columns: 1fr [center-start] repeat(3,  [col-start] minmax(min-content, 38rem)[col-end])  [center-end notifications-start] 1fr [notifications-end];

// }




.dashboard {
    // margin: 100px auto;
    margin: 9rem auto;
   
    
    
    &__gig {
        border-bottom: 1px solid $color__background-hr;
        // grid-column: col-start / col-end
        // grid-column: col-start / col-end
        margin-bottom: 5rem;
        // padding-bottom: 2rem;



        &__details {
            margin: 0;
            padding-bottom: 12rem;
            position: relative;

            // font-size: .9rem;

&-venue {
    
    position: absolute;
    top: .1rem;
    left: .1rem;
    margin: 0;
}

&-genres {
    
    position: absolute;
    top: .1rem;
    right: .1rem;
    margin: 0;
}

&-starts-in {
    // color: $color__text--countdown;
    position: absolute;
    bottom: 2.1rem;
    left: 50%;
    transform: translate(-50%);
    // margin: 0 auto 2rem auto;
    // mar-bottom: 2rem;
    
}
&-countdown {
    color: $color__text--countdown;
    position: absolute;
    bottom: .1rem;
    left: 50%;
    transform: translate(-50%);
    // margin: 0 auto 2rem auto;
    // mar-bottom: 2rem;
    
}


}
    }
}








.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.avatar--posted-by {
    height: 70px;
}  
.gig-photo {
    position: relative;
    
    color: $color__text--white;

    &__image {
        // filter:blur(2px);
        transition: all 0.4s;
        filter:brightness(.6);
        // overflow: hidden;
        
        &:hover {
            // filter:brightness(1);
            filter:brightness(.7);
        // transform: scale(1.01);
        
        // overflow: hidden;#

        // &__title {
        //     font-size: 30rem;
        // }
    }
}


&__text {
    position: absolute;
    bottom: 2rem;
    right: 0.6rem;
    // border: 1px solid green;
width: 95%;
text-align: end;
padding-right: 2rem; 

&-city {
    margin: 0;
    // width: 98%;
    // color: white;
    //    top: 13rem;
    // transsform: translateX(-50%);
    z-index: 20;
}

&-date {
    margin: 0;
    // width: 98%;
        // color: white;
        // position: absolute;
        //    top: 16rem;
        // right: 3.5rem;
        // transsform: translateX(-50%);
        z-index: 20;
        font-size: .8rem;
    }
}

&__title {
        width: 97%;
        margin: 0;
        // color: white;
        position: absolute;
        top: 1.5rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 20;
    }
    
    
    
}

.notifications {
    
    margin: 9rem auto;
    // background-color: green;
    // border: 1px solid blue;
grid-row: 1 / -1;
grid-column: notifications-start-2 / notifications-end-2;


ul {
    font-size: 1rem;
    
    padding-left: 0;
    
}

@media only screen and (max-width: $query__largest) {
    // grid-row: 2 /-1;
    grid-row: null;
    grid-column: null;
    display: block; 

    // grid-column:  center-end / -1;
}
}


// gig details page

.gig-details-page {
    .gig-photo {
color: green;
width: 60rem;
margin: auto;
@media only screen and(max-width: $query__medium) {
    width: 100vw;
}

&__title  {
    
    display: none;
}
&__text {
    display: none;
}
    
        &__image {
            // filter:blur(2px);
            // transition: all 0.4s;
            filter:brightness(1);

            &:hover {
                // filter:brightness(1);
                filter:brightness(1);
        }
    
    
    
    }
}

&__date {
    // color: red;
    margin-bottom: 0;
}

&__time {
    margin: 0 auto 2rem 0;
    // color: green;
}

&__text {

    // p {

        font-weight: 300;
        margin-bottom: 6rem;
        // color: green;
    // }
    &-venue {
        // color: yellow;
        // padding-right: 2rem;
        position: relative;
        left: -18%;
        
    }
    
    &-genres {
        position: relative;
        right: -19%;
        // font-weight: 300;
        // color: pink;
    }

    &-description {
       
        max-width: 60rem;
        margin:  5rem auto auto auto;
    }
}
//   .avatar--posted-by {
//       height: 20px;
//   }  
}
.user-account-page {
    .avatar {
        height: 100px;
    }
    form {
        max-width: 100%;
    }


.profile-photos {

    
    display: grid;
    grid-gap: 1rem;
// grid-template-columns: 1fr minmax(min-content, 38rem) 1fr;
grid-template-columns: 1fr 1fr  ;
align-items: center;
// border: 4px solid orange;
    &__image {
        height: 300px;
        position: relative;

        // position: relative;
        // border: 1px solid blue;
        margin-bottom: 4rem;
img {
    height: 100%;
}

        .btn--delete {
            background-color: $color__text--countdown;
            color: $color__text--white;
            margin: auto;
            position: absolute;
            top: 300px;
            left: 25%;
        }
        .btn--set-photo {
            background-color: green;
            color: $color__text--white;
            margin: auto;
            position: absolute;
            top: 300px;
            right: 25%;
        }
    }




.photo-upload {
    border: 2px solid green;
    margin-top: 20rem;
}


}
}
