.homepage {
    .site-content {
        @media only screen and (max-width: $query__small) {

            margin: 120px 0 auto 0;
            padding: 0;

.dashboard__gig__details {
    margin: 2rem;
}
        }
    }
}

.site-content {
    margin-top: 120px;
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: 1fr [center-start]minmax(min-content, 1140px)[center-end notifications-start-2] 1fr [notifications-end-2];
   
&__center {
    grid-column: center-start / center-end;
}

@media only screen and (max-width: $query__largest) {
    
    grid-gap: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5rem;
}
}


.container {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: [center-start] repeat(3,  [col-start] minmax(min-content, 38rem)[col-end]) ;

    @media only screen and (max-width: $query__largest) {
        grid-template-columns: [center-start] repeat(3,  [col-start] minmax(min-content, 49rem)[col-end]) ;
    }

    @media only screen and (max-width: $query__larger) {
     grid-template-columns: [center-start] repeat(2,  [col-start] minmax(min-content, 110rem)[col-end]) ;
    }
    @media only screen and (max-width: $query__small) {
     grid-template-columns: 1fr ;
    }
}

.dashboard {
    margin: 9rem auto;    
    
    &__gig {
        border-bottom: 1px solid $color__background-hr;
        margin-bottom: 5rem;
        
    &__details {
            margin: 0;
            padding-bottom: 12rem;
            position: relative;

    &-venue {
        position: absolute;
        top: .1rem;
        left: .1rem;
        margin: 0;
}

    &-genres {
        position: absolute;
        top: .1rem;
        right: .1rem;
        margin: 0;
    }

    &-starts-in {
        position: absolute;
        bottom: 2.1rem;
        left: 50%;
        transform: translate(-50%);    
        }

    &-countdown {
        color: $color__text--countdown;
        position: absolute;
        bottom: .1rem;
        left: 50%;
        transform: translate(-50%);    
    }


        }
    }
}








.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.avatar--posted-by {
    height: 70px;
}  
.gig-photo {
    position: relative;
    color: $color__text--white;

    &__image {
        transition: all 0.4s;
        filter:brightness(.6);
                
        &:hover {
            filter:brightness(.7);
            }
}


&__text {
    position: absolute;
    bottom: 2rem;
    right: 0.6rem;
    width: 95%;
    text-align: end;
    padding-right: 2rem; 

    &-city {
        margin: 0;
        z-index: 20;
    }

    &-date {
        margin: 0;
        z-index: 20;
        font-size: .8rem;
    }
}

&__title {
        width: 97%;
        margin: 0;
        position: absolute;
        top: 1.5rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 20;
    }
    
    
    
}

.notifications {
    margin: 9rem auto;
    grid-row: 1 / -1;
    grid-column: notifications-start-2 / notifications-end-2;

    ul {
        font-size: 1rem;
        padding-left: 0; 
}

    @media only screen and (max-width: $query__largest) {
        grid-row: null;
        grid-column: null;
        display: block; 
}

@media only screen and (max-width: $query__large) {
margin: 0 auto;
}
}


//---------- gig details page

.gig-details-page {
    .gig-photo {
        width: 60rem;
        margin: auto;
        @media only screen and(max-width: $query__medium) {
            width: 100vw;
        }

        &__title  {
            display: none;
        }
        &__text {
    display: none;
        }
    
        &__image {
            filter:brightness(1);

            &:hover {
                filter:brightness(1);
        }
        }
}
        &__date {
    margin-bottom: 0;
        }

        &__time {
            margin: 0 auto 2rem 0;
    }

        &__text {
            // font-weight: 300;
            margin-bottom: 6rem;
       
        &-venue {
        position: relative;
        left: -18%;
    }
    
        &-genres {
            position: relative;
            right: -19%;
            }

    &-description {
        max-width: 60rem;
        margin:  5rem auto auto auto;
    }
}

}

.user-account-page {
    
    form {
        max-width: 100%;
        height: auto;
    }

    
.btn--profile-upload {
    margin-top: 24rem;
}




}

.profile-photo-upload {
    margin: 4rem auto 2rem auto;
    height: 200px;
    width: 200px;
}

.gig-photo-placeholder {
    height: 100%;
    width: 100%;
    background-color: $color__header;
}

.cropper-area {
    padding: 34rem auto 2rem auto;
}

.edit-profile-title {
    margin-top: 14rem;
}

    .profile-photos {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr  ;
        align-items: center;
    
        @media only screen and (max-width: $query__small) {
            grid-template-columns: 1fr  ;
            }
    
        @media only screen and (min-width: $query__large) {
        grid-template-columns: repeat(3, 1fr) ;
    }
    
    &__image {
        height: 300px;
        position: relative;
        margin-bottom: 4rem;
    
        img {
            height: 100%;
            margin: 2rem 0 8rem 0;
         }
    
    .btn--delete {
            position: absolute;
            top: 307px;
            left: 10%;
    }
        .btn--set-photo {
            position: absolute;
            top: 307px;
            right: 10%;
            background-color: transparent;
            border: 1px solid $color__main;
            color: $color__main;
            
            &:hover {
                color: $color__text--white;
                background-color: $color__main;
            }
    
        }
    }
            }


            .user-account-page, .user-profile-page {
                .avatar {
                    height: 100px;
                }
            }


            .btn--delete {
                margin: 2rem 0;
                background-color: transparent;
                border: 1px solid $color__text--countdown;
                color: $color__text--countdown;
                margin-left: 2rem;
                
                &:hover {
                    color: $color__text--white;
                    background-color: $color__text--countdown;
                }
            }