
.icon-container {
    position: fixed;
    background-color: #DEDDDE;
    height: 400px;
    width: 400px
  }
  
      .icon {
        stroke: rgb(124, 124, 124)
      }
        
        .icon-plus, .icon-chevron-up {
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
          stroke: $color__main;
          &:hover {
            cursor: pointer;

          }
        }
        
      
      .loading {
        height: 400px;
        width:400px;
        position: absolute;
        left: 50%;
        top: 50%;
  transform: translate(-50%, -50%);
      }
          .icon--loading {
            height: 50px;
            width: 50px;
            animation:spin 7s linear infinite;
  
          }
          @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }