
// /*--------------------------------------------------------------
// # Colors
// --------------------------------------------------------------*/


$color__main: #4392f1;

$color__background-body: #fff;
$color__header: #1C2826;
$color__text--white: #fff;
// $color__text--grey: #555;
$color__text--grey: rgb(56, 56, 56);

$color__text--countdown: #dc493a;


$color__background-hr: #DCDCDC;




$font__main: 'Lato', sans-serif;


// /*--------------------------------------------------------------
// # Structure
// --------------------------------------------------------------*/
// // for main grid
// $size__max-width: 780px;



// /*--------------------------------------------------------------
// # Media Queries
// --------------------------------------------------------------*/

$query__small: 600px;
$query__medium: 900px;
$query__hd: 1921px;


$query__large: 62.5em; //1000px
$query__larger: 75em; //1200px
$query__largest: 90em; //1200px